* {
	font-family: 'font1';
	box-sizing: border-box;
	user-select: none;
}

@font-face {
	font-family: 'font1';
	src: url('fonts/ShantellSans-Regular.ttf');
}

body {
	background: #ecd196;

}

.back-link-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.back-link {
	color: inherit;
	font-weight: bold;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 2em;
	margin-top: 0.5em;
}